---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Food!</h2>
		<p>We will be providing <strong>pizza and pasta</strong> options.</p>
		<p>Please let us know if you have any <strong>food allergies.</strong></p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Squishes!</h2>
		<p>Bring your <strong>favourite Squishmallow friend or toy</strong> along.</p>		
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Movies!</h2>
		<p>What will we be watching?</p>
		<p><strong>You</strong> get to help decide!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Clothes!</h2>
		<p>If you'd like to come in your pyjamas or dressed as a squishmallow, feel free!</p>		
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Games and prizes!</h2>
		<p>You might win a prize!</p>		
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="sun" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Temperature!</h2>
		<p>Weather forecast says it'll be 16c.</p><p>You can bring something warm like a blanket.</p>		
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
